[submodule ".priv"]
	path = .priv
	url = ssh://git@wintermute:666/home/git/priv.git
	ignore = dirty
[submodule ".vim/remote/vim-ledger"]
	path = .vim/remote/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
	ignore = dirty
[submodule ".vim/remote/vim-fugitive"]
	path = .vim/remote/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule ".vim/remote/AnsiEsc.vim"]
	path = .vim/remote/AnsiEsc.vim
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
	ignore = dirty
[submodule ".vim/remote/vim-zsh-completion"]
	path = .vim/remote/vim-zsh-completion
	url = https://github.com/Valodim/vim-zsh-completion.git
	ignore = dirty
[submodule ".vim/remote/vim-lsp"]
	path = .vim/remote/vim-lsp
	url = git@github.com:paradigm/vim-lsp.git
[submodule "vim-toml"]
	path = .vim/remote/vim-toml
	url = https://github.com/cespare/vim-toml.git
