.Xauthority
.bin/conctl
.bin/connate
.cache
.cargo/*
.chore/default-filters/*
.config/QtProject.conf
.config/Trolltech.conf
.config/beets
.config/evince/
.config/htop
.config/ncmpcpp/error.log
.config/pulse
.config/vlc
.dirtags
.forecast
.gcalcli_cache
.gcalcli_oauth
.go/*
.java
.kube
.local/share
.mail
.mozilla
.mpd
.ocm.json
.pulse*
.run
.rustup
.src
.steam*
.vim/dictionary
.vim/spell
.vim/swap
.vim/tags
.vim/thesaurus
.vim/undo
.viminfo
.zsh
