.Xauthority
.bin/conctl
.bin/connate
.cache
.config/QtProject.conf
.config/Trolltech.conf
.config/htop
.config/pulse/cookie
.dirtags
.local/share
.mail
.metar
.mozilla
.mpd
.run
.src
.steam*
.vim/swap
.vim/tags
.vim/undo
.vim/spell
.viminfo
.zsh
.pulse*
