[submodule ".src/dwm"]
	path = .src/dwm
	url = https://github.com/paradigm/dwm
	ignore = dirty
[submodule ".src/dmenu"]
	path = .src/dmenu
	url = http://git.suckless.org/dmenu
	ignore = dirty
[submodule ".src/vim"]
	ignore = dirty
	path = .src/vim
	url = https://github.com/vim/vim.git
[submodule ".src/paraPDF"]
	path = .src/paraPDF
	ignore = dirty
	url = https://github.com/paradigm/paraPDF.git
[submodule ".src/xcape"]
	path = .src/xcape
	url = https://github.com/alols/xcape.git
	ignore = dirty
[submodule ".src/sxiv"]
	path = .src/sxiv
	url = https://github.com/paradigm/sxiv.git
	ignore = dirty
[submodule ".src/slock"]
	path = .src/slock
	url = http://git.suckless.org/slock
	ignore = dirty
[submodule ".vim/remote/vim-ledger"]
	path = .vim/remote/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
	ignore = dirty
[submodule ".vim/remote/skybison"]
	path = .vim/remote/skybison
	url = https://github.com/paradigm/SkyBison.git
	ignore = dirty
[submodule ".vim/remote/languagetool"]
	path = .vim/remote/languagetool
	url = https://github.com/vim-scripts/LanguageTool.git
	ignore = dirty
[submodule ".vim/remote/latexbox"]
	path = .vim/remote/latexbox
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
	ignore = dirty
[submodule ".vim/remote/tabular"]
	path = .vim/remote/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule ".vim/remote/multicursor"]
	path = .vim/remote/multicursor
	url = https://github.com/paradigm/vim-multicursor.git
	ignore = dirty
[submodule ".vim/remote/textobjectify"]
	path = .vim/remote/textobjectify
	url = https://github.com/paradigm/TextObjectify.git
	ignore = dirty
[submodule ".vim/remote/jedi-vim"]
	path = .vim/remote/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
	ignore = dirty
[submodule ".vim/remote/vim-fugitive"]
	path = .vim/remote/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule ".vim/remote/SimpylFold"]
	path = .vim/remote/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
	ignore = dirty
[submodule ".vim/remote/AnsiEsc.vim"]
	path = .vim/remote/AnsiEsc.vim
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
	ignore = dirty
[submodule ".vim/remote/visincr"]
	path = .vim/remote/visincr
	url = https://github.com/vim-scripts/VisIncr.git
	ignore = dirty
[submodule ".vim/remote/wmgraphviz.vim"]
	path = .vim/remote/wmgraphviz.vim
	url = https://github.com/wannesm/wmgraphviz.vim.git
	ignore = dirty
[submodule ".vim/remote/clang_complete-src"]
	path = .vim/remote/clang_complete-src
	url = https://github.com/Rip-Rip/clang_complete.git
	ignore = dirty
[submodule ".vim/remote/vim-zsh-completion"]
	path = .vim/remote/vim-zsh-completion
	url = https://github.com/Valodim/vim-zsh-completion.git
	ignore = dirty
[submodule ".vim/remote/rainbow"]
	path = .vim/remote/rainbow
	url = https://github.com/luochen1990/rainbow
	ignore = dirty
#[submodule ".vim/remote/rust.vim"]
#	path = .vim/remote/rust.vim
#	url = https://github.com/rust-lang/rust.vim.git
#	ignore = dirty
#[submodule ".vim/remote/vim-racer"]
#	path = .vim/remote/vim-racer
#	url = https://github.com/racer-rust/vim-racer.git
#	ignore = dirty
#[submodule ".vim/remote/rust"]
#	path = .vim/remote/rust
#	url = https://github.com/rust-lang/rust.git
#	ignore = dirty
[submodule ".src/dwmstatus"]
	path = .src/dwmstatus
	url = git@github.com:paradigm/dwmstatus.git
