@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /*set default namespace to XUL */

tabbrowser tabpanels { background-color: black !Important; } /* kill white flash */

#appmenu-button, #appmenu-toolbar-button {display:none} /* hide firefox button */

/* simple, small tabs */
.tabbrowser-tab, .tabs-newtab-button {
	background-image: none !important;
	background-color: #000000 !important;
	color: #ffffff !important;
	border-radius: 0px !important; /* square tabs */
	border: 1px solid #ffffff !important;
	border-top: 0px solid #ffffff !important;
	border-left: 0px solid #ffffff !important;
	padding: 0px !important;
	padding-left: 1px !important;
	max-height: 12px !important;
	min-height: 12px !important;
	/*max-width: 200px !important;*/
	font-family: "Terminus" !important;
}
.tabbrowser-tab .tab-text[selected] {
	color: #000000 !important; /* selected tab foreground */
	background-color: #ffffff !important; /* selected tab foreground */
}
.tab-icon-image {
	display: none !important;
}
