/*
 * ctrl-alt-shift-I to open inspector
 *
 * .class #id
 */

/*
 * kill white flash
 */
tabbrowser, tabpanels {
	background-color: #000000 !important;
}

/* Firefox 75 REMOVE MEGABAR START */
/* https://raw.githubusercontent.com/WesleyBranton/userChrome.css-Customizations/master/css/remove_megabar.css */
#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
	height: var(--urlbar-height) !important;
	padding-block: 0px !important;
	padding-inline: 0px !important;
	background-color: var(--lwt-toolbar-field-background-color, rgba(255, 255, 255, 0.8));
	transition: none !important;
	border-radius: var(--toolbarbutton-border-radius);
}

#urlbar[breakout][breakout-extend] {
	top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
	left: 0 !important;
	width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
	border: 1px solid var(--toolbar-field-focus-border-color) !important;
}

#urlbar[breakout][breakout-extend][open] > #urlbar-input-container {
	border-bottom: 1px solid transparent !important;
}
/* REMOVE MEGABAR END */

:root {
	font-family: "Terminus (TTF)" !important;
	font-size: 9pt !important;

	background-color: #000000 !important;
	color: #ffffff !important;

	background-image: none !important;
	-moz-appearance: none !important;
	-moz-border-image: none !important;
	--toolbar-bgimage: none !important;
	--toolbox-border-bottom-color: none !important;
	--toolbarbutton-inner-padding: 0px !important;
	--tab-min-height: 14px !important;
	--tab-max-height: 14px !important;
	--lwt-toolbar-field-background-color: #000000 !important;
	--toolbar-field-focus-border-color: #ffffff !important;
	--toolbarbutton-border-radius: 0px !important;

	line-height: 1em !important;
}

findbar, .findbar-textbox, tooltip, #statuspanel-label, #alertBox {
	font-family: "Terminus (TTF)" !important;
	font-size: 9pt !important;
	font: none !important;

	background-color: #000000 !important;
	color: #ffffff !important;

	border-color: #ffffff !important;
	border-style: solid !important;
	border-width: 1px !important;
}

.menubar-text {
	font-family: "Terminus (TTF)" !important;
	font-size: 9pt !important;
}

toolbar {
	min-height: 0px !important;
}

.tab-content, #TabsToolbar {
	background-color: #000000 !important;
	color: #aaaaaa !important;

	max-height: 14px !important;
	min-height: 14px !important;
	padding: 0px !important;
}

.tab-content {
	border-color: #aaaaaa !important;
	border-style: none solid none none !important;
	border-width: 1px !important;
}

window#main-window toolbox#navigator-toolbox toolbar#TabsToolbar.titlebar-color.customization-target tabs#tabbrowser-tabs tab.tabbrowser-tab {
	max-height: 14px !important;
	min-height: 14px !important;
}

.tab-text[selected] {
	background-color: #000000 !important;
	color: #ffffff !important;
}

.tab-label {
	line-height: 1em !important;
}

.tab-label-container {
	mask-image: none !important;
}

#nav-bar {
	background-color: #000000 !important;
	color: #ffffff !important;

	border-color: #ffffff !important;
	/*border-style: none solid solid none !important;*/
	border-style: none none solid none !important;
	border-width: 1px !important;
}

#urlbar {
	font-family: "Terminus (TTF)" !important;
	font-size: 9pt !important;

	background-color: #000000 !important;
	color: #ffffff !important;

	border-radius: 0px !important;
	border-style: none !important;

	background-clip: none !important;

	max-height: 14px !important;
	min-height: 14px !important;
	padding: 0px !important;
	margin: 0px !important;
}

.toolbarbutton-1 {
	margin-right: 1px !important; /* hack to avoid icon overflow */
	filter: grayscale(1);
	opacity: 0.8;
}

.tab-icon-image {
	filter: grayscale(1);
	opacity: 0.8;
}

html|input.urlbar-input[textoverflow]:not([focused]) {
	mask-image: linear-gradient(to left, transparent, black 3em);
}

#library-button, #sidebar-button, #PanelUI-menu-button, .tabs-newtab-button,
.tab-close-button, .urlbar-history-dropmarker, .urlbar-icon, #star-button,
#back-button, #forward-button, #stop-reload-button, #reload-button,
#stop-button, #home-button, #customizableui-special-spring1
{
	display: none !important;
}

tooltip {
	-moz-appearance: none !important;
	padding: 0px !important;
	border: solid 1px #fff !important;
	border-radius: 0px !important;
}
tooltip * {
	background-color: #000 !important;
	color: #fff !important;
	padding: 0px 1px 0px 1px !important;
}
